<ion-content [fullscreen]="true">
    <ion-menu side="start" contentId="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Localizacion</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/main">Pagina Principal</ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/busqueda">Busqueda de direccion</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eliminar cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="formulario">
    <ion-card-header>
      <ion-card-title>¿Estás seguro de eliminar tu cuenta?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="formulario">
      <p>Esta acción es irreversible. ¿Deseas eliminar tu cuenta?</p>
      <ion-button expand="block" color="danger" (click)="eliminarCuenta()">Eliminar cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
