<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logo">
      <img src="assets\img\logo.png" alt="">
    </div>
    <div class="welcome">
      <h1>Bienvenido</h1>
    </div>
    <div class="opcion">
      <div class="auto">
        <a [routerLink]="['/login']"><img src="assets\img\auto.png" alt="auto"></a>
      </div>
      <div class="furgon">
        <a routerLink="/login"><img src="assets\img\furgon.png" alt="furgon"></a>
      </div>
    </div>
  </div>
</ion-content>
