* {

    margin: 0;
  }
  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .logo {
    height: 250px;
    width: 250px;
  }
  .formulario {
    background-color: white;
  }
