<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logo">
      <img src="assets\img\logo.png" alt="" />
    </div>
    <div class="welcome">
      <h1>Haz olvidado tu contraseña?</h1>
    </div>
    <div class="log">
      <div>
        <ion-input label="Correo" type="email" placeholder="email@gamil.com"></ion-input>
      </div>
      <div class="boton">  
        <ion-button size="medium"><a style="text-decoration: none; color: white ;" routerLink="/login">Enviar</a></ion-button>
      </div>
    </div>
  </div>
</ion-content>