<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logo">
      <img src="assets\img\logo.png" alt="" />
    </div>
    <ion-card class="formulario">
      <ion-card-header>
        <ion-card-title>Recupera tu contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content class="formulario">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-button class="btn-submit" type="submit" expand="block" [disabled]="!form.valid">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
