* {
    background-color: white;
    margin: 0;
  }
  ion-content {
    overflow: hidden;
  }
  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    height: 250px;
    width: 250px;
  }
